<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiveview.dao.StockRevenueModelMapperDao" >
  <resultMap id="BaseResultMap" type="com.hiveview.entity.StockRevenueModel" >
    <id column="id" property="id"  />
    <result column="change_quantity" property="changeQuantity"  />
    <result column="revenue_num" property="revenueNum"  />
    <result column="revenue_code" property="revenueCode"  />
    <result column="fee_num" property="feeNum"  />

  </resultMap>
  <sql id="Base_Column_List" >
    id, change_quantity, revenue_num, revenue_code,fee_num
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from j_stock_revenue_models
    where id = #{id}
  </select>

  <select id="getModels" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from j_stock_revenue_models
    where 1=1
  </select>

  <delete id="deleteByPrimaryKey"  >
    delete from j_stock_revenue_models
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="com.hiveview.entity.StockRevenueModel" >
    insert into j_stock_revenue_models (id, change_quantity, revenue_num, 
      revenue_code)
    values (#{id}, #{changeQuantity}, #{revenueNum},
      #{revenueCode})
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.hiveview.entity.StockRevenueModel" >
    update j_stock_revenue_models
    set change_quantity = #{changeQuantity},
      revenue_num = #{revenueNum},
      revenue_code = #{revenueCode}
    where id = #{id}
  </update>
</mapper>